{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Expirující blog</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        {% tailwind_css %}
        <script src="https://klikz.svs.gyarab.cz/hit/12?size=small" defer></script>
    </head>
    <body>
        <nav class="bg-gray-700 p-4 ">
            <div class="container mx-auto flex justify-between items-center">
                <a href="{% url "index" %}" class="text-white text-lg font-bold">Expirující blog</a>
                <ul class="flex space-x-4">
                    <li>
                        <a href="{% url "index" %}" class="text-gray-300 hover:text-white">Domů</a>
                    </li>
                    <li>
                        <a href="{% url 'tags' %}" class="text-gray-300 hover:text-white">Rubriky</a>
                    </li>
                    <li>
                        <a href="{% url 'authors' %}" class="text-gray-300 hover:text-white">Autoři</a>
                    </li>
                    <li>
                        {% if user.is_authenticated %}
                            <span class="text-green-400 font-semibold">{{ user.first_name }} {{ user.last_name }}</span>
                            <a href="{% url "logout" %}"
                               class="ml-2 px-3 py-1 rounded bg-blue-600 text-white hover:bg-blue-700 transition">Odhlásit se</a>
                        {% else %}
                            <a href="{% url "social:begin" "google-oauth2" %}"
                               class="px-3 py-1 rounded bg-yellow-400 text-gray-900 font-semibold hover:bg-yellow-300 transition shadow">Příhlásit se přes Google</a>
                        {% endif %}
                    </li>
                </ul>
            </ul>
        </div>
    </nav>
    <div class="container mx-auto p-4">
        {% block body %}
        {% endblock body %}
    </div>
    <footer class="bg-gray-700 p-4 text-center text-gray-300 flex justify-center">
        <div id="klikz-12"></div>
    </footer>
</body>
</html>
